<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <optimize>
            <session>
                <expiry_limit>14</expiry_limit>
            </session>
        </optimize>
    </default>
</config>
